<!-- <div class="theme" [class.darkTheme]="darkTheme" style="width: 100%; padding-top: 15px;"> -->
  <!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true" style="display: flex; justify-content: center;">
    <c-row>
      <c-col [cCol]="1">
        <button id="menu"
          toggle="visible"
          cHeaderToggler
          [cSidebarToggle]="sidebarId"
          class="ps-1"
        >
        <svg cIcon
          name="cilMenu"
          size="lg"
        ></svg>
      </button>
    </c-col>
      <c-col [cCol]="11">
        <div class="links" (click)="showSideBar()">
          <a class="anc" style="margin-left: 20px; cursor: pointer; text-decoration: none;" (click)="tableAnchorClicked()">
            <div class="svgCon">
              <svg ng-reflect-name="cil-pencil" ng-reflect-custom-classes="[object Object]" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" class="nav-icon ng-star-inserted"><path fill="var(--ci-primary-color, currentColor)" d="M29.663,482.25l.087.087a24.847,24.847,0,0,0,17.612,7.342,25.178,25.178,0,0,0,8.1-1.345l142.006-48.172,272.5-272.5A88.832,88.832,0,0,0,344.334,42.039l-272.5,272.5L23.666,456.541A24.844,24.844,0,0,0,29.663,482.25Zm337.3-417.584a56.832,56.832,0,0,1,80.371,80.373L411.5,180.873,331.127,100.5ZM99.744,331.884,308.5,123.127,388.873,203.5,180.116,412.256,58.482,453.518Z" class="ci-primary"></path></svg>
            </div>      
            <span>جداول الترميز</span>
          </a>
          <a class="anc"  style="margin-left: 20px; cursor: pointer; text-decoration: none;" (click)="treeAnchorClicked()">
            <div class="svgCon">
              <svg ng-reflect-name="cil-pencil" ng-reflect-custom-classes="[object Object]" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" class="nav-icon ng-star-inserted"><path fill="var(--ci-primary-color, currentColor)" d="M29.663,482.25l.087.087a24.847,24.847,0,0,0,17.612,7.342,25.178,25.178,0,0,0,8.1-1.345l142.006-48.172,272.5-272.5A88.832,88.832,0,0,0,344.334,42.039l-272.5,272.5L23.666,456.541A24.844,24.844,0,0,0,29.663,482.25Zm337.3-417.584a56.832,56.832,0,0,1,80.371,80.373L411.5,180.873,331.127,100.5ZM99.744,331.884,308.5,123.127,388.873,203.5,180.116,412.256,58.482,453.518Z" class="ci-primary"></path></svg>
            </div>
            <span>شجرة الحسابات</span>
          </a>
          <a class="anc" style="margin-left: 20px; cursor: pointer; text-decoration: none;" (click)="sanadAnchorClicked()">
            <div class="svgCon">
              <svg ng-reflect-name="cil-pencil" ng-reflect-custom-classes="[object Object]" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" class="nav-icon ng-star-inserted"><path fill="var(--ci-primary-color, currentColor)" d="M29.663,482.25l.087.087a24.847,24.847,0,0,0,17.612,7.342,25.178,25.178,0,0,0,8.1-1.345l142.006-48.172,272.5-272.5A88.832,88.832,0,0,0,344.334,42.039l-272.5,272.5L23.666,456.541A24.844,24.844,0,0,0,29.663,482.25Zm337.3-417.584a56.832,56.832,0,0,1,80.371,80.373L411.5,180.873,331.127,100.5ZM99.744,331.884,308.5,123.127,388.873,203.5,180.116,412.256,58.482,453.518Z" class="ci-primary"></path></svg>
            </div>      
            <span>سند القيد</span>
          </a>
          <a class="anc" style="margin-left: 20px; cursor: pointer; text-decoration: none;" (click)="exchangeAnchorClicked()">
            <div class="svgCon">
              <svg ng-reflect-name="cil-pencil" ng-reflect-custom-classes="[object Object]" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" class="nav-icon ng-star-inserted"><path fill="var(--ci-primary-color, currentColor)" d="M29.663,482.25l.087.087a24.847,24.847,0,0,0,17.612,7.342,25.178,25.178,0,0,0,8.1-1.345l142.006-48.172,272.5-272.5A88.832,88.832,0,0,0,344.334,42.039l-272.5,272.5L23.666,456.541A24.844,24.844,0,0,0,29.663,482.25Zm337.3-417.584a56.832,56.832,0,0,1,80.371,80.373L411.5,180.873,331.127,100.5ZM99.744,331.884,308.5,123.127,388.873,203.5,180.116,412.256,58.482,453.518Z" class="ci-primary"></path></svg>
            </div>      
            <span>أمر الصرف</span>
          </a>
          <a class="anc" style="margin-left: 20px; cursor: pointer; text-decoration: none;" (click)="paymentAnchorClicked()">
            <div class="svgCon">
              <svg ng-reflect-name="cil-pencil" ng-reflect-custom-classes="[object Object]" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" class="nav-icon ng-star-inserted"><path fill="var(--ci-primary-color, currentColor)" d="M29.663,482.25l.087.087a24.847,24.847,0,0,0,17.612,7.342,25.178,25.178,0,0,0,8.1-1.345l142.006-48.172,272.5-272.5A88.832,88.832,0,0,0,344.334,42.039l-272.5,272.5L23.666,456.541A24.844,24.844,0,0,0,29.663,482.25Zm337.3-417.584a56.832,56.832,0,0,1,80.371,80.373L411.5,180.873,331.127,100.5ZM99.744,331.884,308.5,123.127,388.873,203.5,180.116,412.256,58.482,453.518Z" class="ci-primary"></path></svg>
            </div>      
            <span>أمر الدفع</span>
          </a>
          <a class="anc" style="margin-left: 20px; cursor: pointer; text-decoration: none;" (click)="receiptAnchorClicked()">
            <div class="svgCon">
              <svg ng-reflect-name="cil-pencil" ng-reflect-custom-classes="[object Object]" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" class="nav-icon ng-star-inserted"><path fill="var(--ci-primary-color, currentColor)" d="M29.663,482.25l.087.087a24.847,24.847,0,0,0,17.612,7.342,25.178,25.178,0,0,0,8.1-1.345l142.006-48.172,272.5-272.5A88.832,88.832,0,0,0,344.334,42.039l-272.5,272.5L23.666,456.541A24.844,24.844,0,0,0,29.663,482.25Zm337.3-417.584a56.832,56.832,0,0,1,80.371,80.373L411.5,180.873,331.127,100.5ZM99.744,331.884,308.5,123.127,388.873,203.5,180.116,412.256,58.482,453.518Z" class="ci-primary"></path></svg>
            </div>      
            <span>أمر القبض</span>
          </a>
          <a class="anc" style="margin-left: 20px; cursor: pointer; text-decoration: none;" (click)="mrBookAnchorClicked()">
            <div class="svgCon">
              <svg ng-reflect-name="cil-pencil" ng-reflect-custom-classes="[object Object]" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" class="nav-icon ng-star-inserted"><path fill="var(--ci-primary-color, currentColor)" d="M29.663,482.25l.087.087a24.847,24.847,0,0,0,17.612,7.342,25.178,25.178,0,0,0,8.1-1.345l142.006-48.172,272.5-272.5A88.832,88.832,0,0,0,344.334,42.039l-272.5,272.5L23.666,456.541A24.844,24.844,0,0,0,29.663,482.25Zm337.3-417.584a56.832,56.832,0,0,1,80.371,80.373L411.5,180.873,331.127,100.5ZM99.744,331.884,308.5,123.127,388.873,203.5,180.116,412.256,58.482,453.518Z" class="ci-primary"></path></svg>
            </div>      
            <span>دفتر الأستاذ</span>
          </a>
          <a class="anc" style="margin-left: 20px; cursor: pointer; text-decoration: none;" (click)="mrBookAccountCenterAnchorClicked()">
            <div class="svgCon">
              <svg ng-reflect-name="cil-pencil" ng-reflect-custom-classes="[object Object]" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" class="nav-icon ng-star-inserted"><path fill="var(--ci-primary-color, currentColor)" d="M29.663,482.25l.087.087a24.847,24.847,0,0,0,17.612,7.342,25.178,25.178,0,0,0,8.1-1.345l142.006-48.172,272.5-272.5A88.832,88.832,0,0,0,344.334,42.039l-272.5,272.5L23.666,456.541A24.844,24.844,0,0,0,29.663,482.25Zm337.3-417.584a56.832,56.832,0,0,1,80.371,80.373L411.5,180.873,331.127,100.5ZM99.744,331.884,308.5,123.127,388.873,203.5,180.116,412.256,58.482,453.518Z" class="ci-primary"></path></svg>
            </div>      
            <span>دفتر الأستاذ مركز الكلفة</span>
          </a>
          
        </div>
      </c-col>
    </c-row>
    
    <!-- <div class="themeButton" style="margin-right: 50px;">
      <app-theme-button ></app-theme-button>
    </div> -->
  
    

      
    

    <!-- <c-header-nav class="d-none d-lg-flex">
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilBell" size="lg"></svg>
        </a>
      </c-nav-item>
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilList" size="lg"></svg>
        </a>
      </c-nav-item>
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilEnvelopeOpen" size="lg"></svg>
        </a>
      </c-nav-item>
    </c-header-nav> -->
    

  <!-- </c-container >
  <c-header-divider></c-header-divider>
  <c-container [fluid]="true" style="padding-right: 94px;">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container>
</ng-container> -->
<!--</c-header>-->




<!-- </div> -->