<table class="table table-edit table-bordered table-middel bg-gray-50" 
[formGroup]="formGroup">
    <thead>
        <tr>
            <th class="max-width-80 min-width-80"> رقم المرفق</th>
            <th class="max-width-130 min-width-130"> نوع المرفق</th>
            <th class="max-width-100 min-width-100"> تاريخ المرفق </th>
            <th class="max-width-80 min-width-80"> رقم الوثيقة</th>
            <th class="max-width-150 min-width-150"> عائدية الوثيقة</th>
            <th class="max-width-150 min-width-150"> بيان المرفق</th>
            <th class="max-width-80 min-width-80"> عمليات</th>
        </tr>
    </thead>
    <tbody [formArrayName]="name">
       
        <tr *ngFor="let attach of FormArray; let _index = index;"
         [formGroupName]="_index">
            <td>
                <input class="form-control" 
                formControlName="attachement_id" 
                [OnlyNumber]="true"
                  id="{{'exchange_order_attachement_id_'+_index}}" (keyup.enter)="focusNext('type_fk_'+_index)"
                    placeholder="رقم المرفق">
            </td>

            <td>
                <ng-select formControlName="type_fk" id="{{'type_fk_'+_index}}"
                    (keyup.enter)="focusNext('attachement_date'+_index)" [closeOnSelect]="true" [searchable]="true"
                    [openOnEnter]="false">
                    <ng-option *ngFor="let option of attachment_type_list " [value]="option.attachement_type_seq">
                        {{option.attachement_type_name }}
                    </ng-option>
                </ng-select>
                <div *ngIf="getControls('type_fk',attach) != null &&
                getControls('type_fk',attach) .invalid " class="invalid-feedback">
                    <div *ngIf="getControls('type_fk',attach) .hasError('required')">Supplier is
                        required</div>
                    <div *ngIf="getControls('type_fk',attach) .hasError('accountTreeExists')">
                        accountTreeExists</div>

                </div>
            </td>

            <td>


                <div class=" input-group " container="body">
                    <input class="form-control" placeholder="تاريخ المرفق" name="attachement_date"
                        id="{{'attachement_date'+_index}}" formControlName="attachement_date"
                        (keyup.enter)="focusNext('exchange_order_Source_number_'+_index)" ngbDatepicker
                        #attachement_date="ngbDatepicker" />
                    <button class="input-group-text" type="button" (click)="attachement_date.toggle()"
                        type="button"></button>
                </div>

            </td>


            <td>
                <input class="form-control" formControlName="source_number" 
                    id="{{'exchange_order_Source_number_'+_index}}"
                    (keyup.enter)="focusNext('document_ownership_'+_index)" placeholder="رقم الوثيقة">
            </td>


            <td>
                <input class="form-control" formControlName="ownership" 
                    id="{{'document_ownership_'+_index}}"
                    (keyup.enter)="focusNext('exchange_order_attachement_note_'+_index)" placeholder="عائدية الوثيقة">
            </td>


            <td>
                <input class="form-control" id="{{'exchange_order_attachement_note_'+_index}}"
                    formControlName="attachement_note" (keyup.enter)="focusNext('type_fk_'+_index)"
                    placeholder="بيان المرفق">
            </td>

            <td class="p-0">
                <button class="btn btn-success square px-3" (click)="onDelete.emit(_index)">

                </button>
            </td>
        </tr>
    </tbody>
</table>