<button type="button" class="btn btn-primary btn-sm" (click)="openBasicModal(ListItemsModal)">
  <mat-icon>search</mat-icon>
  {{Title}}
</button>

<ng-template #ListItemsModal let-modal>
  <mat-card>
    <mat-card-content>
      <c-container>
        <c-row>
          <div class="col-lg-6 col-md-6 col-6 col-sm-6 mb-3">
            <mat-form-field appearance="outline">
              <mat-label>
                من رقم المذكرة <span class="text-danger"> </span>
              </mat-label>
              <input matInput 
              (change)="PerformSearch()"
              (focusout)="PerformSearch()" 
              [formControl]="incumbent_id_from" id="incumbent_id_from"
                (keyup.enter)="focusNext('to_number')" />
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6 col-6 col-sm-6 mb-3">
            <mat-form-field appearance="outline">
              <mat-label>
                إلى رقم المذكرة <span class="text-danger"> </span>
              </mat-label>
              <input matInput
              (change)="PerformSearch()"
               (focusout)="PerformSearch()" matInput [formControl]="incumbent_id_to" id="to_number"
                (keyup.enter)="focusNext('document_id_from')" />
            </mat-form-field>
          </div>


          <div class="col-lg-6 col-md-6 col-6 col-sm-6 mb-3">
            <mat-form-field appearance="outline">
              <mat-label>من رقم مستند</mat-label>


              <input matInput 
              (change)="PerformSearch()"
              (focusout)="PerformSearch()"
              type="text" class="form-control" 
                [formControl]="document_id_from" id="document_id_from" (keyup.enter)="focusNext('document_id_to')" />
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6 col-6 col-sm-6 mb-3">
            <mat-form-field appearance="outline">
              <mat-label>
                إلى رقم مستند <span class="text-danger"> </span>
              </mat-label>
              <input matInput 
              (change)="PerformSearch()"
              (focusout)="PerformSearch()" 
              matInput 
              [formControl]="document_id_to" id="document_id_to"
                (keyup.enter)="focusNext('sanad_month')" />
            </mat-form-field>
          </div>



          <div class="col-lg-6 col-md-6 col-6 col-sm-12 mb-3">

            <label class="form-label">
              شهر الوثيقة <span class="text-danger"> </span>
            </label>


            <ng-select [formControl]="sanad_month" [multiple]="true" [items]="months" bindValue="id" bindLabel="name"
              placeholder="قم باختيار الاشهر" id="sanad_month" (keyup.enter)="focusNext('incumbent_month')"
              (focusout)="PerformSearch()">
            </ng-select>

          </div>

          <div class="col-lg-6 col-md-6 col-6 col-sm-12 mb-3">
            <label class="form-label">
              شهر المذكرة <span class="text-danger"> </span>
            </label>

            <ng-select [formControl]="incumbent_month" id="incumbent_month" [multiple]="true" [items]="months"
              bindValue="id" bindLabel="name" (keyup.enter)="focusNext('from_number')" (focusout)="PerformSearch()">
            </ng-select>

          </div>
        </c-row>



        <c-row>

          <div infinite-scroll [infiniteScrollDistance]="20" [infiniteScrollUpDistance]="1"
            [infiniteScrollThrottle]="100" (scrolled)="onScroll()" [scrollWindow]="false"
            style="height: 400px; overflow-y: scroll;">


            <ul ngbNav #verticalNav="ngbNav" class="nav-tabs nav-tabs-vertical" orientation="vertical">
              <li [ngbNavItem]="2" (click)="SelectItemChange(sanad)" *ngFor="let sanad of sanad_list">
                  <a ngbNavLink>
                      <i class="feather icon-file-text btn-icon-prepend fs-5 me-1"></i>
                      <div class="row">

                        <div class="col-3 mb-3">
                          رقم المستند
                        </div>
      
                        <div class="col-3 mb-3">
                          {{sanad?.document_id}}
                        </div>
      
                        <div class="col-3 mb-3">
                          تاريخ المستند
                        </div>
      
                        <div class="col-3 mb-3">
                          {{sanad?.document_date | date: "dd-mm-yyyy"}}
                        </div>
      
                       
      
      
                        <div class="col-3 mb-3">
                          رقم المذكرة
                        </div>
      
                        <div class="col-3 mb-3" >
                          {{sanad?.incumbent_id }}
                        </div>
      
                        <div class="col-3 mb-3">
                          تاريخ المذكرة
                        </div>
      
                        <div class="col-3 mb-3">
                          {{sanad?.incumbent_date | date: "dd-mm-yyyy"}}
                        </div>
      
                 
                        <div class="col-3 mb-3">
                          مبلغ السند
                        </div>
                        <div class="col-3 mb-3">
                          {{sanad?.sanad_total_value }}
                        </div>
      
                        <div class="col-3 mb-3">
                          اسم صاحب الاستحقاق
                        </div>
      
                        <div class="col-3 mb-3">
                          {{sanad?.name_of_owner}}
                        </div>
      
                      </div>
                  </a>
               
              </li>
          </ul>

            

          </div>
        </c-row>

      </c-container>
    </mat-card-content>

  </mat-card>

</ng-template>