<ng-template #MainToolBar>

    <nav class="page-breadcrumb">

        <ol class="breadcrumb">
            <li class="breadcrumb-item fw-bold">
                <a routerLink=".">
                    شجرة الحسابات
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                البحث
            </li>
        </ol>

        <div class="d-flex justify-content-end ms-auto">

            <app-account-tree-list-search [Title]="'خيارات البحث'"
                (OnSeachCommandExecute)="OnSeachCommandExecute($event)">
            </app-account-tree-list-search>
            <button type="button" class="btn btn-success btn-sm" (click)="add()">
                <mat-icon>add</mat-icon>
                إدخال F12
            </button>

            <button type="button" class="btn btn-secondary btn-sm" (click)="add()">
                <mat-icon>add</mat-icon>
                شجرة الحسابات F12
            </button>



            <button type="button" class="btn btn-info btn-sm" (click)="exportToExcel()">
                <mat-icon>view_comfy</mat-icon>
                تصدير الى اكسل F7
            </button>

            <button type="button" class="btn btn-dark btn-sm" [disabled]="dataSourceIsEmpty"
                printSectionId="rank-section" ngxPrint accessControl>
                <mat-icon>print</mat-icon>
                طباعة
            </button>
        </div>

    </nav>


</ng-template>










<c-container fluid>

    <app-tool-bar [ngTemplateOutlet]="MainToolBar">
    </app-tool-bar>


    <c-row>
        <!--خاص للبحث والفلترة على شكل expand-->
    
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            بحث
                        </mat-panel-title>
                        <mat-panel-description>
                            اكتب ما تريد ان تبحث عنه
                            <mat-icon>search</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
    
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>بحث</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>
                </mat-expansion-panel>
            </mat-accordion>
      
    </c-row>
    <c-row>


        <perfect-scrollbar style="margin-top: 40px; max-width: 900px; " >

            <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="balance_debtor">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>رصيد مدين </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element">{{element?.balance_debtor}}</td>
                </ng-container>
    
                
                <ng-container matColumnDef="balance_creditor">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header> رصيد دائن </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element">{{element?.balance_creditor}}</td>
                </ng-container>
    
    
                <ng-container matColumnDef="total">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>الاجمالي  </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element"> <span *ngIf="element.account_id.toString().length==1">{{element.account_id}}</span> </td>
                </ng-container>
    
    
              
    
                <ng-container matColumnDef="general">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>العام  </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element"> <span *ngIf="element.account_id.toString().length==2">{{element.account_id}}</span> </td>
                </ng-container>
    
                <ng-container matColumnDef="assistant">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>المساعد  </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element"> <span *ngIf="element.account_id.toString().length==3">{{element.account_id}}</span> </td>
                </ng-container>
    
                <ng-container matColumnDef="sub">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>الفرعي  </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element"> <span *ngIf="element.account_id.toString().length==4">{{element.account_id}}</span> </td>
                </ng-container>
    
                <ng-container matColumnDef="partial">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>الجزئي  </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element"> <span *ngIf="element.account_id.toString().length==5">{{element.account_id}}</span> </td>
                </ng-container>
    
                <ng-container matColumnDef="analytical">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>التحليلي  </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element"> <span *ngIf="element.account_id.toString().length==6">{{element.account_id}}</span> </td>
                </ng-container>
    
    
                <ng-container matColumnDef="detailed">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>السباعي  </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element"> <span *ngIf="element.account_id.toString().length==7">{{element.account_id}}</span> </td>
                </ng-container>
               
    
                <ng-container matColumnDef="account_name">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>اسم الحساب </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element">{{element?.account_name}}</td>
                </ng-container>
    
             
    
                <ng-container matColumnDef="account_class_name">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>تصنيف الحساب </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element"><span *ngIf="element!.account_class!= null">{{element!.account_class!.account_class_name}}</span> </td>
                </ng-container>
    
                <ng-container matColumnDef="account_final_name">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>الحساب الختامي </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element"> <span *ngIf="element?.account_final!= null">{{element?.account_final.account_final_name}} </span>  </td>
                </ng-container>
    
                <ng-container matColumnDef="account_group_name">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>مجموعة الحساب </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element"> <span *ngIf="element?.account_group!= null"> {{element?.account_group.account_group_name}} </span></td>
                </ng-container>
    
                <ng-container matColumnDef="account_level_name">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>مستوى الحساب </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element"> <span *ngIf="element?.account_level!= null"> {{element?.account_level.account_level_name}} </span></td>
                </ng-container>
    
                <ng-container matColumnDef="finance_list_name">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>القائمة المالية </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element"> <span *ngIf="element?.finance_list!= null"> {{element?.finance_list.finance_list_name}} </span> </td>
                </ng-container>
    
                <!-- 


                <ng-container matColumnDef="mobil">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>الموبايل </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element">{{element?.mobil ==null? '' : element?.mobil}}</td>
                </ng-container>
    
                <ng-container matColumnDef="phone">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>الهاتف </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element">{{element?.phone ==null? '' : element?.phone}}</td>
                </ng-container>
    
                <ng-container matColumnDef="fax">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>الفاكس </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element">{{element?.fax ==null? '' : element?.fax}}</td>
                </ng-container>
    
                <ng-container matColumnDef="address">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>العنوان </th>
                    <td class="table-column-100" mat-cell *matCellDef="let element">{{element?.address ==null? '' : element?.address}}</td>
                </ng-container>
    
                <ng-container matColumnDef="notice">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>الملاحظات </th>
                    <td class="table-column-100" at-cell *matCellDef="let element">{{element?.notice ==null? '' : element?.notice}}</td>
                </ng-container>
    
                    -->
    
                <ng-container matColumnDef="action">
                    <th class="table-column-100" mat-header-cell *matHeaderCellDef> حذف\تعديل </th>
    
                    <td class="table-column-100" mat-cell *matCellDef="let element" style="width:20%">
                        <button class="delete" mat-icon-button color="warn" (click)="Delete(element)"
                            title="Delete Contact">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button class="edit" mat-icon-button color="primary" (click)="Update(element)" title="Edit Contact">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;let idx=index;"></tr>
            </table>
        </perfect-scrollbar>


     




    </c-row>
    <c-row>
        <mat-progress-bar mode="indeterminate" *ngIf="isDataSourceLoading"></mat-progress-bar>
    </c-row>

    <c-row>
        <mat-paginator #paginator (page)="OnPage($event)" [length]="totalRows" [pageSizeOptions]="pageSizeOptions"
            showFirstLastButtons></mat-paginator>

    </c-row>


    <c-row>

        <table>
            <tr>
                <th></th>
                <th>اجمالي</th>
                <th>عام</th>
                <th>مساعد</th>
                <th>فرعي</th>
                <th>جزئي</th>
                <th>تحليلي</th>

            </tr>
            <tr>
                <td>مدين</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>


    </c-row>