<div class="theme" [class.darkTheme]="darkTheme">
    <mat-card>
      <mat-card-title>
        <h2>لائحة الوثائق</h2>
      </mat-card-title>
      <mat-card-content>
        <c-container >
    
          <c-row>
        
                <mat-form-field appearance="fill" >
                  <mat-label>من رقم</mat-label>
                  <input type="text"
                  (focusout)="PerformSearch()" matInput [formControl]="from_number"
                    id="from_number" (keyup.enter)="focusNext('to_number')" />
                </mat-form-field>
        
                <mat-form-field appearance="fill" >
                  <mat-label>الى رقم</mat-label>
                  <input type="text"
                  (focusout)="PerformSearch()" matInput [formControl]="to_number"
                    id="to_number" (keyup.enter)="focusNext('sanad_month')" />
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>شهر الوثيقة</mat-label>
                    <mat-select [formControl]="sanad_month" multiple (selectionChange)="PerformSearch()"
                    id="sanad_month" (keyup.enter)="focusNext('incumbent_month')"
                    (focusout)="PerformSearch()">
                      <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="i">{{i}}</mat-option>
                    </mat-select>
                  </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>شهر المذكرة</mat-label>
                    <mat-select [formControl]="incumbent_month" multiple (selectionChange)="PerformSearch()"
                    id="incumbent_month" (keyup.enter)="focusNext('from_number')"
                    (focusout)="PerformSearch()">
                      <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="i">{{i}}</mat-option>
                    </mat-select>
                  </mat-form-field>
        
          </c-row>
        
        
        
        <c-row>
        
          <div  infinite-scroll [infiniteScrollDistance]="20" [infiniteScrollUpDistance]="1"
            [infiniteScrollThrottle]="100" (scrolled)="onScroll()" [scrollWindow]="false"
            style="height: 400px; overflow-y: scroll;">
        
            <mat-list>
              <mat-list-item (click)="SelectItemChange(payment_order)" *ngFor="let payment_order of payment_order_list">        
                <!-- <h4 matLine style="font-size: small; font-weight: bold;"> {{emp?.fullname}} </h4> -->
                <p matLine>
                  <mat-grid-list cols="8" rowHeight="25px">
                    <mat-grid-tile colspan="4" rowspan="1">
                        رقم الوثيقة   
                    </mat-grid-tile>
                    <mat-grid-tile colspan="4" rowspan="1">
                       تاريخ الوثيقة
                    </mat-grid-tile>
                  </mat-grid-list>
                  <mat-grid-list cols="8" rowHeight="25px">
                    <mat-grid-tile colspan="4" rowspan="1">
                      {{payment_order?.document_id}} 
                    </mat-grid-tile>
                    <mat-grid-tile colspan="4" rowspan="1">
                      {{payment_order?.document_date | date: "dd-mm-yyyy"}}
                    </mat-grid-tile>
                  </mat-grid-list>
                </p>
                <p matLine>
                  <mat-grid-list cols="8" rowHeight="25px">
                    <mat-grid-tile colspan="4" rowspan="1">
                        مبلغ الوثيقة
                    </mat-grid-tile>
                    <mat-grid-tile colspan="4" rowspan="1">
                        اسم صاحب الاستحقاق
                    </mat-grid-tile>
                  </mat-grid-list>
                  <mat-grid-list cols="8" rowHeight="25px">
                    <mat-grid-tile colspan="4" rowspan="1">
                      {{payment_order?.total_value}} 
                    </mat-grid-tile>
                    <mat-grid-tile colspan="4" rowspan="1">
                      {{payment_order?.name_of_owner}}
                    </mat-grid-tile>
                  </mat-grid-list>
                </p>       
                <mat-divider></mat-divider>
              </mat-list-item>
        
            </mat-list>
        
          </div>
        </c-row>
        
        </c-container>
      </mat-card-content>
     
    </mat-card>
    
  </div>