<c-container>

    <c-row>
      <mat-toolbar>
        <div>
          <button mat-button [matMenuTriggerFor]="menu" class="add">
            <mat-icon>expand_more</mat-icon>
            <mat-icon class="mat-icon-rtl-mirror">save</mat-icon> حفظ
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="save()"> حفظ نظامي F9</button>
            <button mat-menu-item (click)="save_as_draft()">مسوده</button>
          </mat-menu>
        </div>
      </mat-toolbar>
    </c-row>
  
    <c-row>
      <c-card class="mb-4 card">
        <c-card-header class="card-header">معلومات أمر القبض</c-card-header>
        <c-card-body class="card-body">
          <form [formGroup]="Form">
            <c-row>
  
              <c-col xs="3">
                <c-container>
                  <span class="white" style=" display: block; font-size: 14px;">تاريخ السند</span>
                  <c-row>
                    <c-col xs="3">
                      <mat-form-field class="example-full-width small-width" appearance="fill">
                        <mat-label>اليوم</mat-label>
                        <input matInput placeholder="ex: 21" (change)="sanadDateChange('day')" [(ngModel)]='sanadDateDay'
                          [ngModelOptions]="{standalone: true}" id="sanadDateDay"
                          (keyup.enter)="focusNext('sanadDateMonth')">
                      </mat-form-field>
                    </c-col>
                    <c-col xs="3">
                      <mat-form-field class="example-full-width small-width" appearance="fill">
                        <mat-label>الشهر</mat-label>
                        <input matInput placeholder="ex: 1" (change)="sanadDateChange('month')"
                          [(ngModel)]='sanadDateMonth' [ngModelOptions]="{standalone: true}" id="sanadDateMonth"
                          (keyup.enter)="focusNext('sanadDateYear')">
                      </mat-form-field>
                    </c-col>
                    <c-col xs="6">
                      <mat-form-field class="example-full-width small-width" appearance="fill">
                        <mat-label>العام</mat-label>
                        <input matInput placeholder="ex: 2023" (change)="sanadDateChange('year')"
                          [(ngModel)]='sanadDateYear' [ngModelOptions]="{standalone: true}" id="sanadDateYear"
                          (keyup.enter)="focusNext('document_id')">
                      </mat-form-field>
                    </c-col>
                  </c-row>
                </c-container>
              </c-col>
  
              <c-col xs="3">
                <mat-form-field appearance="fill" style="margin-top: 30px;">
                  <mat-label>رقم السند</mat-label>
                  <input matInput [OnlyNumber]="true" [formControl]="document_id" id="document_id"
                    (keyup.enter)="focusNext('incumbentDateDay')">
                </mat-form-field>
              </c-col>
  
              <c-col xs="3">
                <c-container>
                  <span class="white" style="margin-bottom: 10px; display: block; font-size: 14px;">تاريخ المذكرة</span>
                  <c-row>
                    <c-col xs="3">
                      <mat-form-field class="example-full-width small-width" appearance="fill">
                        <mat-label>اليوم</mat-label>
                        <input matInput placeholder="ex: 21" (change)="incumbentDateChange('day')"
                          [(ngModel)]='incumbentDateDay' [ngModelOptions]="{standalone: true}" id="incumbentDateDay"
                          (keyup.enter)="focusNext('incumbentDateMonth')">
                      </mat-form-field>
                    </c-col>
                    <c-col xs="3">
                      <mat-form-field class="example-full-width small-width" appearance="fill">
                        <mat-label>الشهر</mat-label>
                        <input matInput placeholder="ex: 1" (change)="incumbentDateChange('month')"
                          [(ngModel)]='incumbentDateMonth' [ngModelOptions]="{standalone: true}" id="incumbentDateMonth"
                          (keyup.enter)="focusNext('incumbentDateYear')">
                      </mat-form-field>
                    </c-col>
                    <c-col xs="6">
                      <mat-form-field class="example-full-width small-width" appearance="fill">
                        <mat-label>العام</mat-label>
                        <input matInput placeholder="ex: 2023" (change)="incumbentDateChange('year')"
                          [(ngModel)]='incumbentDateYear' [ngModelOptions]="{standalone: true}" id="incumbentDateYear"
                          (keyup.enter)="focusNext('incumbent_id')">
                      </mat-form-field>
                    </c-col>
  
                  </c-row>
                </c-container>
              </c-col>
  
              <c-col xs="3">
                <mat-form-field appearance="fill" style="margin-top: 30px;">
                  <mat-label>رقم المذكرة</mat-label>
                  <input matInput [OnlyNumber]="true" [formControl]="incumbent_id" id="incumbent_id"
                    (keyup.enter)="focusNext('Book_fk')">
                </mat-form-field>
  
              </c-col>
  
            </c-row>
            <c-row>
              <c-col xs="3">
                <mat-form-field appearance="fill">
                  <mat-label>دفتر السندات</mat-label>
                  <input matInput [formControl]="book_fk" [matAutocomplete]="auto_book_fk" id="Book_fk"
                    (keyup.enter)="focusNext('name_of_owner')">
                  <mat-autocomplete #auto_book_fk="matAutocomplete" (optionSelected)="select_Book_Option($event)"
                    [displayWith]="displayBookProperty.bind(this)">
                    <mat-option *ngFor="let option of filter_List_sanad_kid_book | async"
                      [value]="option.sanad_kid_book_seq">
                      {{option.sanad_kid_book_name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </c-col>
              <c-col xs="9">
                <mat-form-field appearance="fill">
                  <mat-label>اسم صاحب الاستحقاق</mat-label>
                  <input matInput [formControl]="name_of_owner" id="name_of_owner"
                    (keyup.enter)="focusNext('account_type')">
                </mat-form-field>
              </c-col>
  
            </c-row>
  
          </form>
        </c-card-body>
      </c-card>
  
  
    </c-row>
  
    <c-row>
      <c-col xs="8">
  
        <c-card>
  
          <c-card-header class="card-header">
            المرفقات
          </c-card-header>
  
          <c-card-body class="card-body">
            <div class="detail" *ngFor="let attachment of receipt_order.receipt_order_attachements; let i=index;">
              <app-receipt-order-attachments [index]="i"
                (onDelete)="onAttachmentDelete($event)"></app-receipt-order-attachments>
            </div>
          </c-card-body>
          <c-card-footer>
            <button class="add" mat-raised-button class="add" (click)="addAttachment()">+إضافة مرفق</button>
          </c-card-footer>
        </c-card>
      </c-col>
      
      <c-col xs="4">
  
        <c-card>
  
          <c-card-header class="card-header">
            قائمة الادخالات المستخدم
          </c-card-header>
          <c-card-body class="card-body">
            <c-row>
              <table mat-table [dataSource]="dataSource_receipt_order_entry" class="mat-elevation-z8" matSort>
  
                <ng-container matColumnDef="ex_ord_stg_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>المرحلة </th>
                  <td mat-cell *matCellDef="let element">{{element?.exchange_order_stage.ex_ord_stg_name}}</td>
                </ng-container>
  
                <ng-container matColumnDef="user_entry">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>المستخدم </th>
                  <td mat-cell *matCellDef="let element">{{element?.user_entry.user_first_name}}
                    {{element?.user_entry.user_last_name}}</td>
                </ng-container>
  
                <ng-container matColumnDef="date_entry">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الحفظ </th>
                  <td mat-cell *matCellDef="let element">{{element?.date_entry | date:'yyyy/MM/dd'}}</td>
                </ng-container>
  
  
                <tr mat-header-row *matHeaderRowDef="receipt_order_entry_displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: receipt_order_entry_displayedColumns;let idx=index;"
                  [style.background-color]="rowClicked == idx ? 'yellow': 'none'" (click)="changeTableRowColor(idx)"></tr>
              </table>
  
  
  
            </c-row>
            <c-row>
              <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
  
            </c-row>
          </c-card-body>
  
  
        </c-card>
  
      </c-col>
    </c-row>
  
  
    <c-row>
      <c-col>
  
        <c-card>
  
          <c-card-header class="card-header">
            تفاصيل أمر القبض
          </c-card-header>
  
          <c-card-body class="card-body">
            <div class="detail" *ngFor="let details of receipt_order.receipt_order_details; let i=index;">
              <app-receipt-order-details [index]="i" (onDelete)="onDetailsDelete($event)"></app-receipt-order-details>
            </div>
          </c-card-body>
          <c-card-footer>
            <button class="add" mat-raised-button class="add" (click)="addDetails()">+إضافة تفصيل</button>
          </c-card-footer>
        </c-card>
      </c-col>
    </c-row>
  
  </c-container>