<c-container fluid>
  <c-row>

    <div class="col-12 col-md-8">
      <div class="card mb-3">
        <div class="card-header d-flex align-items-center border-bottom">
          <i class="feather icon-plus-circle fs-4 me-1"></i>
          إضافة أوامر القبض
        </div>
        <div class="card-body p-0">
          <form name="form" [formGroup]="Form">
            <table class="table table-sm table-middel bg-gray-50">
              <tbody>
                <tr>
                  <td class="wd-150 fw-bold border-end ps-4">تاريخ السند <span class="text-danger">*</span></td>
                  <td>
                    <div class=" input-group " container="body">
                      <input class="form-control" id="document_date" placeholder="dd/mm/yyyy" name="document_date"
                        formControlName="document_date" ngbDatepicker (keyup.enter)="focusNext('incumbent_date')"
                        #document_date="ngbDatepicker" />
                      <button class="input-group-text" type="button" (click)="document_date.toggle()"> <i
                          class="feather icon-calendar icon-md text-muted"></i></button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="wd-150 fw-bold border-end ps-4">
                    تاريخ المذكرة
                  </td>
                  <td>
                    <div class=" input-group " container="body">
                      <input class="form-control" placeholder="dd/mm/yyyy" name="incumbent_date" id="incumbent_date"
                        formControlName="incumbent_date" 
                        (keyup.enter)="focusNext('book_fk')" 
                        ngbDatepicker
                        #incumbent_date="ngbDatepicker" />
                      <button class="input-group-text" type="button" (click)="incumbent_date.toggle()"
                        type="button"></button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="wd-150 fw-bold border-end ps-4">
                    دفتر السندات
                  </td>
                  <td>
                    <ng-select [closeOnSelect]="true"
                     [searchable]="true" [formControl]="book_fk" id="book_fk"
                      (keyup.enter)="focusNext('document_id')" (change)="onselect_book_fk($event)">
                      <ng-option *ngFor="let option of filter_List_sanad_kid_book | async"
                        [value]="option.sanad_kid_book_seq">
                        {{option.sanad_kid_book_name}}
                      </ng-option>
                    </ng-select>


                  </td>
                </tr>
                <tr>
                  <td class="wd-150 fw-bold border-end ps-4">
                    رقم السند

                  </td>
                  <td>

                    <input class="form-control" [formControl]="document_id" id="document_id"
                      (keyup.enter)="focusNext('incumbent_id')" [OnlyNumber]="true">


                  </td>
                </tr>
                <tr>
                  <td class="wd-150 fw-bold border-end ps-4">
                    رقم المذكرة

                  </td>
                  <td>

                    <input class="form-control" [formControl]="incumbent_id" id="incumbent_id"
                      (keyup.enter)="focusNext('name_of_owner')" [OnlyNumber]="true">
                  </td>
                </tr>
                <tr>
                  <td class="wd-150 fw-bold border-end ps-4">
                    اسم صاحب الاستحقاق
                  </td>
                  <td>
                    <input class="form-control" [formControl]="name_of_owner" id="name_of_owner"
                      (keyup.enter)="focusNext('sanad_close')">
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>


    <div class="col-12 col-md-4">
      <div class="card mb-1 d-none d-sm-block">
        <div class="card-header d-flex align-items-center border-bottom">
          <i class="feather icon-info fs-4 me-1"></i>
          المعلومات الأساسية
        </div>
        <div class="card-body p-0">
          <app-document-info [type]="'receipt_order'" [data]="receipt_order"></app-document-info>
        </div>
      </div>
    </div>




  </c-row>

  <c-row>
    <div class="col-12 col-md-12">
      <div class="card mb-2 d-none d-sm-block">
        <div class="card-header d-flex align-items-center border-bottom">
          <i class="feather icon-info fs-4 me-1"></i>
          تفاصيل السند من حركات على الحسابات
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <app-receipt-order-details *ngIf="receipt_order.receipt_order_details!= null" [formGroup]="Form"
              [name]="'receipt_order_details'" [FormArray]="get_detail_controls()" hasEmptyAdditionRow="true"
              (OnNew)="new_detail()" (OnDelete)="delete_detail($event)"></app-receipt-order-details>
          </div>
        </div>

        <div class="card-footer d-flex">
          <table class="table bg-gray-50">
            <tbody>
              <tr>
                <td>
                  <button type="button" class="btn btn-icon-text btn-primary me-3 wd-xs-150-f" (click)="new_detail()">
                    <i class="feather icon-plus-circle btn-icon-prepend"></i>
                    إضافة
                  </button>
                </td>

                <td>
                  <button type="button" class="btn btn-icon-text btn-outline-success me-3 wd-xs-150-f">
                    <i class="fa-solid fa-file-excel fa-fw btn-icon-prepend"></i>
                    رفع ملف اكسيل
                  </button>

                </td>
                <td>

                </td>

                <td>
                  <label class="form-label">عدد السجلات</label>
                </td>

                <td>
                  <label class="form-label">{{Length_details}}</label>
                </td>
                <td>
                  <label class="form-label">مجموع مدين</label>
                </td>
                <td>
                  <label class="form-label">{{sumDebtor}}</label>
                </td>
                <td>
                  <label class="form-label">مجموع دائن</label>
                </td>
                <td>
                  <label class="form-label">{{sumCreditor}}</label>
                </td>
                <td>
                  <label class="form-label">رصيد</label>
                </td>
                <td>
                  <label class="form-label">{{sumDebtor - sumCreditor}}</label>
                </td>
                <td>
                  <label class="form-label">الصندوق</label>
                </td>
                <td>
                  <label
                    *ngIf="this.safe_detail!= null && this.safe_detail!.accounts_tree!= null ">{{this.safe_detail!.accounts_tree!.account_name}}</label>
                </td>


              </tr>
            </tbody>
          </table>
        </div>












      </div>

    </div>
  </c-row>


  <c-row>
    <div class="col-12 col-md-12">
      <div class="card mb-2 d-none d-sm-block">
        <div class="card-header d-flex align-items-center border-bottom">
          <i class="feather icon-info fs-4 me-1"></i>
          معلومات المرفقات
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <app-receipt-order-attachments *ngIf="receipt_order.receipt_order_attachements!= null" [formGroup]="Form"
              [name]="'receipt_order_attachements'" [FormArray]="get_attachments_controls()"
              hasEmptyAdditionRow="false" (OnNew)="new_attachment()"
              (onDelete)="delete_attachment($event)"></app-receipt-order-attachments>
          </div>
        </div>

        <div class="card-footer d-flex">
          <table class="table bg-gray-50">
            <tbody>
              <tr>
                <td>
                  <button type="button" class="btn btn-icon-text btn-primary me-3 wd-xs-150-f"
                    (click)="new_attachment()">
                    <i class="feather icon-plus-circle btn-icon-prepend"></i>
                    إضافة
                  </button>
                </td>

                <td>
                  <button type="button" class="btn btn-icon-text btn-outline-success me-3 wd-xs-150-f">
                    <i class="fa-solid fa-file-excel fa-fw btn-icon-prepend"></i>
                    رفع ملف اكسيل
                  </button>

                </td>
                <td>

                </td>

                <td>
                  <label class="form-label">عدد السجلات</label>
                </td>

                <td>
                  <label class="form-label">{{Length_attachements}}</label>
                </td>



              </tr>
            </tbody>
          </table>
        </div>












      </div>

    </div>
  </c-row>


  <c-row>
    <c-card class="mb-4 card">

      <c-card-header class="card-header">
        قائمة الادخالات المستخدم
      </c-card-header>
      <c-card-body class="card-body">
        <c-row>
          <table mat-table [dataSource]="dataSource_receipt_order_entry" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="ex_ord_stg_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>المرحلة </th>
              <td mat-cell *matCellDef="let element">{{element?.receipt_order_stage?.ex_ord_stg_name}}</td>
            </ng-container>

            <ng-container matColumnDef="user_entry">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>المستخدم </th>
              <td mat-cell *matCellDef="let element">{{element?.user_entry?.user_first_name}}
                {{element?.user_entry?.user_last_name}}</td>
            </ng-container>

            <ng-container matColumnDef="date_entry">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الحفظ </th>
              <td mat-cell *matCellDef="let element">{{element?.date_entry | date:'yyyy/MM/dd'}}</td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="receipt_order_entry_displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: receipt_order_entry_displayedColumns;let idx=index;">
            </tr>
          </table>



        </c-row>
        <c-row>
          <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"></mat-paginator>

        </c-row>
      </c-card-body>


    </c-card>
  </c-row>








</c-container>