<div class=WordSection1>

    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr style='height:19.75pt'>
      <td width=208 rowspan=3 style='width:155.8pt;padding:0in 5.4pt 0in 5.4pt;
      height:19.75pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>الجمهورية العربية السورية</span><span
      dir=ltr><br>
      </span><span lang=AR-SY style='font-family:"Arial",sans-serif'>وزارة الصناعة<br>
      المؤسسة العامة للتبغ<br>
      مديرية: </span><span>{{data.branch?.branch_name}}</span><span lang=AR-SY style='font-family:
      "Arial",sans-serif'><br>
      قسم: </span><span >القسم المحاسبي</span></p>
      </td>
      <td width=208 rowspan=3 style='width:155.85pt;padding:0in 5.4pt 0in 5.4pt;
      height:19.75pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:18.0pt;font-family:"Arial",sans-serif'>أمر دفع</span></p>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:12.0pt;font-family:"Arial",sans-serif'>اسم صاحب الاستحقاق </span><span
      dir=ltr style='font-size:12.0pt'>{{data.name_of_owner}}</span></p>
      </td>
      <td width=208 style='width:155.85pt;padding:0in 5.4pt 0in 5.4pt;height:19.75pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>صرف نقدا</span></p>
      </td>
     </tr>
     <tr style='height:21.55pt'>
      <td width=208 style='width:155.85pt;padding:0in 5.4pt 0in 5.4pt;height:21.55pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>صرف بشيك رقم </span><span dir=ltr>number</span></p>
      </td>
     </tr>
     <tr style='height:1.8pt'>
      <td width=208 style='width:155.85pt;padding:0in 5.4pt 0in 5.4pt;height:1.8pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>على مصرف </span><span dir=ltr>bank</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>المرفقات<br>
    <br>
    </span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=156 valign=top style='width:116.85pt;border:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>رقم المرفق</span></p>
      </td>
      <td width=156 valign=top style='width:116.85pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>تاريخ المرفق</span></p>
      </td>
      <td width=156 valign=top style='width:116.9pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>نوع</span></p>
      </td>
      <td width=156 valign=top style='width:116.9pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>بيان</span></p>
      </td>
     </tr>
     <tr *ngFor="let attachment of data.payment_order_attachements">
      <td width=156 valign=top style='width:116.85pt;border:solid windowtext 1.0pt;
      border-top:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{attachment.payment_order_attachement_id}}</span></p>
      </td>
      <td width=156 valign=top style='width:116.85pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{attachment.payment_order_attachement_date | date:'yyyy/MM/dd'}}</span></p>
      </td>
      <td width=156 valign=top style='width:116.9pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{attachment.type_fk}}</span></p>
      </td>
      <td width=156 valign=top style='width:116.9pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{attachment.payment_order_attachement_note}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr style='height:1.25pt'>
      <td width=125 valign=top style='width:93.5pt;border-top:solid windowtext 1.0pt;
      border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt;height:1.25pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>أصل الاعتماد </span><span dir=ltr>place</span></p>
      </td>
      <td width=50 style='width:37.55pt;border:none;border-top:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt;height:1.25pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>الرقم:</span></p>
      </td>
      <td width=109 style='width:81.7pt;border-top:solid windowtext 1.0pt;
      border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
      padding:0in 5.4pt 0in 5.4pt;height:1.25pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span dir=ltr>{{data.document_id}}</span></p>
      </td>
     </tr>
     <tr style='height:1.25pt'>
      <td width=125 valign=top style='width:93.5pt;border:none;border-right:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt;height:1.25pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>الوضع الحالي </span><span dir=ltr>place</span></p>
      </td>
      <td width=50 style='width:37.55pt;border:none;padding:0in 5.4pt 0in 5.4pt;
      height:1.25pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>التاريخ:</span></p>
      </td>
      <td width=109 style='width:81.7pt;border:none;border-left:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt;height:1.25pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span>{{data.incumbent_date | date:'yyyy/MM/dd'}}</span></p>
      </td>
     </tr>
     <tr style='height:1.25pt'>
      <td width=125 valign=top style='width:93.5pt;border:none;border-right:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt;height:1.25pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>التوقيع</span></p>
      </td>
      <td width=50 style='width:37.55pt;border:none;padding:0in 5.4pt 0in 5.4pt;
      height:1.25pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=109 style='width:81.7pt;border:none;border-left:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt;height:1.25pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span dir=ltr>&nbsp;</span></p>
      </td>
     </tr>
     <tr style='height:1.25pt'>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt;height:1.25pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=50 style='width:37.55pt;border:none;border-bottom:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt;height:1.25pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=109 style='width:81.7pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt;
      height:1.25pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span dir=ltr>&nbsp;</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=125 valign=top style='width:93.5pt;border:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>المبلغ المستحق</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>الحسميات</span></p>
      </td>
      <td width=125 rowspan=2 style='width:93.5pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>اسم الحساب والبيان</span></p>
      </td>
      <td width=125 rowspan=2 style='width:93.5pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>مركز الكلفة</span></p>
      </td>
      <td width=125 rowspan=2 style='width:93.5pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>رقم الحساب</span></p>
      </td>
     </tr>
     <tr>
      <td width=125 valign=top style='width:93.5pt;border:solid windowtext 1.0pt;
      border-top:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>ليرة سورية</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>ليرة سورية</span></p>
      </td>
     </tr>
     <tr *ngFor="let detail of data.payment_order_details; let i= index;">
      <td width=125 valign=top style='width:93.5pt;border:solid windowtext 1.0pt;
      border-top:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{detail?.debtor}}</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{detail?.creditor}}</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{detail?.account_notice}}&nbsp;-&nbsp;{{accounts_name[i]}}</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{accounts_center[i]}}</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{detail?.accounts_tree_fk}}</span></p>
      </td>
     </tr>
     <tr>
      <td width=125 valign=top style='width:93.5pt;border:solid windowtext 1.0pt;
      border-top:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span dir=ltr>{{debtor_sum}}</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span dir=ltr>{{creditor_sum}}</span></p>
      </td>
      <td width=374 colspan=3 valign=top style='width:280.5pt;border-top:none;
      border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>المبلغ الصافي للدفع وقدره </span><span
      >{{creditor_sum}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span dir=ltr>&nbsp;</span></p>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SY style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=92 valign=top style='width:68.9pt;border-top:solid windowtext 1.0pt;
      border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>أمين الصندوق</span></p>
      </td>
      <td width=92 valign=top style='width:68.9pt;border:none;border-top:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>رئيس التدقيق</span></p>
      </td>
      <td width=108 valign=top style='width:81.0pt;border:none;border-top:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>رئيس المحاسبة</span></p>
      </td>
      <td width=112 valign=top style='width:83.85pt;border:none;border-top:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>المدير المالي</span></p>
      </td>
      <td width=104 valign=top style='width:77.95pt;border-top:solid windowtext 1.0pt;
      border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>المدير العام</span></p>
      </td>
     </tr>
     <tr style='height:.1in'>
      <td width=92 valign=top style='width:68.9pt;border-top:none;border-left:none;
      border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt;height:.1in'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:250%;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=92 valign=top style='width:68.9pt;border:none;border-bottom:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt;height:.1in'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:250%;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=108 valign=top style='width:81.0pt;border:none;border-bottom:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt;height:.1in'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:250%;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=112 valign=top style='width:83.85pt;border:none;border-bottom:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt;height:.1in'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:250%;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=104 valign=top style='width:77.95pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt;height:.1in'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:250%;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=208 valign=top style='width:155.8pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span dir=ltr>Name</span></p>
      </td>
      <td width=208 valign=top style='width:155.85pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span>{{today_date | date:'yyyy/MM/dd'}}</span></p>
      </td>
      <td width=208 valign=top style='width:155.85pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>عدد الحركات الكلية: {{data.payment_order_details?.length}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span dir=ltr>&nbsp;</span></p>
    
    </div>