@import '../../../../../../theme.scss';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

::ng-deep .badge {
    display: none
};

c-sidebar{
    width: 300px;
}

.darkTheme c-sidebar{
    background-color: #01081F;
}

.darkTheme ::ng-deep c-sidebar-nav-link-content{
    color: white
}

.darkTheme app-default-header{
    background-color: #01081F
}

.darkTheme .body{
    background-color: #04113B
}

.darkTheme ::ng-deep .nav-link.active{
    background-color: #04113B !important;
}

.darkTheme .wrapper{
    background-color: #04113B !important;
}

.darkTheme perfect-scrollbar{
    height: 80%;
    border-radius: 50px;
    margin-top: 100px;
    padding-block: 50px;
    background-color: #01081F;
}

.darkTheme c-sidebar{
    background-color: #04113B !important;
}

.darkTheme ::ng-deep c-sidebar-nav-title{
    color: white !important;
}

app-default-header{
    width: 100%;
    border-radius: 50px;
    margin-inline: auto;
    border: 0;
}


.wrapper{
    background-color: white !important;
    width: 80%;
    left: -246px;
    position: relative;
}

::ng-deep .sidebar.hide:not(.sidebar-end) ~ * {
    width: 100% !important;
    left: 40px !important;
}

::ng-deep c-container.container-lg{
    max-width: 1600px !important;
}

perfect-scrollbar{
    background-color: #EAF7F0;
    padding-inline: 15px;
}


c-sidebar, app-default-header{
    background-color: #EAF7F0;
    // // background: transparent;
    // box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
}

c-sidebar{
    // background-color: white !important;
    background-color: #EAF7F0 !important;
    height: 80%;
    border-radius: 50px;
    margin-top: 100px;
    padding-block: 50px;
    padding-inline: 15px;

}
.body{
    background-color: white;
    margin-right: 70px;
    padding-block: 20px
}

::ng-deep c-sidebar-nav-link-content{
    color: #6E60D2
}


::ng-deep c-sidebar-nav-link a svg{
    color: #6E60D2 !important;
}

::ng-deep c-sidebar-nav-title{
    color: black !important;
}

::ng-deep .nav-link.active{
    background-color: #b9fcd8 !important;
}

.return{
    color: white;
}

.returnBtn{
    display: block;
    margin-inline: auto;
    margin-bottom: 10px;
    background-color: $lightPrimary;
}

.darkTheme .returnBtn{
    background-color: $darkPrimary;
}

button, span, mat-form-field,:ng-deep .mat-mdc-form-field , ::ng-deep mat-label, th, td, label, output{
    font-family: 'Noto Sans Arabic', sans-serif !important;
}

.headerAnchorClicked{
    margin-right: 0;
}

