<div class=WordSection1>

    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr style='height:33.25pt'>
      <td width=208 rowspan=2 style='width:155.8pt;padding:0in 5.4pt 0in 5.4pt;
      height:33.25pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>الجمهورية العربية السورية</span><span
      dir=ltr><br>
      </span><span lang=AR-SY style='font-family:"Arial",sans-serif'>وزارة الصناعة<br>
      المؤسسة العامة للتبغ</span></p>
      </td>
      <td width=208 rowspan=2 style='width:155.85pt;padding:0in 5.4pt 0in 5.4pt;
      height:33.25pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-size:18.0pt;font-family:"Arial",sans-serif'>سندات القيد</span></p>
      </td>
      <td width=208 valign=top style='width:155.85pt;padding:0in 5.4pt 0in 5.4pt;
      height:33.25pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>من تاريخ: </span><span dir=ltr>date</span></p>
      </td>
     </tr>
     <tr style='height:9.9pt'>
      <td width=208 valign=top style='width:155.85pt;padding:0in 5.4pt 0in 5.4pt;
      height:9.9pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>الى تاريخ: </span><span dir=ltr>date</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal dir=rtl style='text-align:right;direction:rtl;unicode-bidi:
    embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'><br>
    <br>
    </span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=89 valign=top style='width:66.75pt;border:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>م</span></p>
      </td>
      <td width=89 valign=top style='width:66.75pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>تاريخ</span></p>
      </td>
      <td width=89 valign=top style='width:66.8pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>رقم السند</span></p>
      </td>
      <td width=89 valign=top style='width:66.8pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>مبلغ السند</span></p>
      </td>
      <td width=89 valign=top style='width:66.8pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>نوع المذكرة</span></p>
      </td>
      <td width=89 valign=top style='width:66.8pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>رقم المذكرة</span></p>
      </td>
      <td width=89 valign=top style='width:66.8pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>تاريخ المذكرة</span></p>
      </td>
     </tr>
     <tr *ngFor="let document of documents; let i= index;">
      <td width=89 valign=top style='width:66.75pt;border:solid windowtext 1.0pt;
      border-top:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=89 valign=top style='width:66.75pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{document.document_date | date:"yyyy/MM/dd"}}</span></p>
      </td>
      <td width=89 valign=top style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{document.document_id}}</span></p>
      </td>
      <td width=89 valign=top style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{document.sanad_total_value}}</span></p>
      </td>
      <td width=89 valign=top style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{document_type}}</span></p>
      </td>
      <td width=89 valign=top style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{document.incumbent_id}}</span></p>
      </td>
      <td width=89 valign=top style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{document.incumbent_date | date:"yyyy/MM/dd"}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal dir=rtl style='text-align:right;direction:rtl;unicode-bidi:
    embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr style='height:12.65pt'>
      <td width=89 valign=top style='width:66.8pt;padding:0in 5.4pt 0in 5.4pt;
      height:12.65pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>عدد السندات</span></p>
      </td>
      <td width=89 valign=top style='width:66.8pt;padding:0in 5.4pt 0in 5.4pt;
      height:12.65pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>قيمة السندات</span></p>
      </td>
     </tr>
     <tr style='height:12.65pt'>
      <td width=89 valign=top style='width:66.8pt;padding:0in 5.4pt 0in 5.4pt;
      height:12.65pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span>{{documents.length}}</span></p>
      </td>
      <td width=89 valign=top style='width:66.8pt;padding:0in 5.4pt 0in 5.4pt;
      height:12.65pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span>{{documents_total_value}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=208 valign=top style='width:155.8pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span dir=ltr>Name</span></p>
      </td>
      <td width=208 valign=top style='width:155.85pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span>{{today_date | date:'yyyy/MM/dd'}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span dir=ltr>&nbsp;</span></p>
    
    </div>
    