<c-container>

    <mat-card>

        <mat-card-header>
            <mat-card-title>الفرع</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <form [formGroup]="Form">

                <c-container>
                    <c-row>
                        <c-col>
                            <mat-form-field >
                                <mat-label #branch_name_element>اسم الفرع</mat-label>
                                <input matInput [formControl]="branch_name" id="branch_name" (keyup.enter)="focusNext('branch_address')">
                                <mat-error *ngIf="fieldHasErrors(Form, 'branch_name')">
                                    {{
                                    autoPrintFirstErrorMessage(
                                        Form,
                                    "branch_name",
                                    branch_name_element.innerHTML
                                    )
                                    }}
                                  </mat-error>
                            </mat-form-field>

                        </c-col>

                        <c-col>
                            <mat-form-field >
                                <mat-label>عنوان الفرع</mat-label>
                                <input matInput [formControl]="branch_address" id="branch_address" (keyup.enter)="focusNext('branch_phone')">
                            </mat-form-field>
                        </c-col>

                        
                    </c-row>
                    <c-row>
                        

                        <c-col>
                            <mat-form-field >
                                <mat-label>هاتف الفرع</mat-label>
                                <input matInput [formControl]="branch_phone" [OnlyNumber]="true" id="branch_phone" (keyup.enter)="focusNext('branch_email')">
                            </mat-form-field>
                        </c-col>

                        <c-col>
                            <mat-form-field >
                                <mat-label>ايميل الفرع</mat-label>
                                <input matInput [formControl]="branch_email" id="branch_email" (keyup.enter)="focusNext('branch_website')">
                            </mat-form-field>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col>
                            <mat-form-field >
                                <mat-label>الموقع الالكتروني للفرع</mat-label>
                                <input matInput [formControl]="branch_website" id="branch_website" (keyup.enter)="focusNext('branch_order')">
                            </mat-form-field>
                        </c-col>

                        <c-col>
                            <mat-form-field>
                                <mat-label>ترتيب الفرع</mat-label>
                                <input matInput [formControl]="branch_order" id="branch_order"
                                    (keyup.enter)="focusNext('account_center_name')" [OnlyNumber]="true">
                            </mat-form-field>
                        </c-col>
                    </c-row>



                </c-container>

             
            </form>


        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="add" (click)="save()" [disabled]="!Form.valid">F9 حفظ </button>
            <button mat-raised-button (click)="closeDialog()" mat-flat-button color="warn">إلغاء</button>
        </mat-card-actions>
    </mat-card>
</c-container>
