@import '../../../../../../theme.scss';

table {
    width: 100%;
  }
  
  th, td{
    text-align: center !important;
  }
  
    th, td{
      padding: 4px !important;
      text-align: center !important;
    }

    th,
  mat-paginator,
  ::ng-deep .mat-paginator-navigation-first,
  ::ng-deep .mat-paginator-navigation-previous,
  ::ng-deep .mat-paginator-navigation-next,
  ::ng-deep .mat-paginator-navigation-last,
  ::ng-deep .mat-select-arrow,
  ::ng-deep .mat-select-value,
  mat-paginator ::ng-deep .mat-mdc-form-field-underline,
  mat-paginator ::ng-deep .mat-mdc-form-field-flex{
    background-color: $lightBackground !important;
    color: black !important;
  }

  .mat-mdc-row:nth-child(even){
    background-color: $LightTableEven;
}
.mat-mdc-row:nth-child(odd){
    background-color: white;
}

  .demo-row-is-clicked {
    background-color: orange !important;
  }

  .add, .edit{
    color: white !important;
    background-color: $lightPrimary !important;
  }

  ::ng-deep .mat-mdc-form-field-underline::before{
    background-color: black !important;
}

mat-form-field ::ng-deep .mat-mdc-form-field-flex, mat-form-field ::ng-deep .mat-mdc-text-field-wrapper{
    background-color: white !important;
    padding-inline: 10px;
}

.add:disabled, .edit:disabled{
  background-color: rgba(0,0,0,.12) !important;
  color: rgba(0,0,0,.26);
}

.mat-mdc-form-field-disabled, ::ng-deep .mat-mdc-form-field-disabled .mat-mdc-form-field-label{
  color: rgba(0,0,0,.26) !important;
}

mat-form-field.mat-mdc-form-field-disabled ::ng-deep  .mat-mdc-form-field-flex{
  background-color: rgba(0,0,0,.12) !important;
}

button, span, mat-form-field,:ng-deep .mat-mdc-form-field , ::ng-deep mat-label, th, td, label, output{
  font-family: 'Noto Sans Arabic', sans-serif !important;
}

.edit, .delete{
  font-weight: 700;
  display: inline-block !important;
  margin-left: 10px !important;
}

.container{
  padding-inline: 10px;
}

mat-accordion{
  margin-block: 20px;
}


mat-expansion-panel{
  background-color: $lightBackground;
  margin-block: 20px;
}

::ng-deep .mat-expansion-panel-content{
  background-color: $LightTableEven;

}

#excel{
  background-color: #1F6E43;
  color: white;
  margin-top: 20px;
  margin-left: 10px;

}

.add{
  margin-left: 10px;
  margin-top: 20px;
}

.small-width{
  width: 90px !important;
  margin-left: 0px !important;
}

mat-form-field{
  width: 170px;
  height: 70px;
  font-size: 14px;
}

::ng-deep .mat-mdc-floating-label, ::ng-deep .mat-mdc-input-element, ::ng-deep .mat-mdc-select-min-line{
  font-size: 14px;
}

table{
  zoom: 90%;
}




:host
{
    font-size: small;
}


mat-form-field
{
    width: 100% !important;
    font-size: small;
}

.viewButton ::ng-deep .mdc-button__label{
  height: 27px !important
}

.add{
  mat-icon{
    margin-left: 2px !important;
  }
}