:host
{
    font-size: small;
}


mat-form-field
{
    width: 100% !important;
    font-size: small;
}

/*


.form-control {
    height: 90% !important;
}

.ng-select .ng-select-container {
    height: 100% !important;
  }
  
  .ng-select.ng-select-single .ng-select-container {
    height: 100% !important;
  }
*/
/*
  ::ng-deep .ng-select-container {
    height: 5px !important;
    font-size: 1em!important;
  }
  */