<ng-template #MainToolBar>

    <nav class="page-breadcrumb">

        <ol class="breadcrumb">
            <li class="breadcrumb-item fw-bold">
                <a routerLink=".">
                    شجرة الحسابات
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                بطاقة حساب
            </li>
        </ol>

        <div class="d-flex justify-content-end ms-auto">


            <app-account-tree-display (OnSelectParentSelect)="addSon($event)" (OnEditSelect)="edit($event)">

            </app-account-tree-display>

         

            <button mat-raised-button id="save" class="add" (click)="save()" >
                <mat-icon class="mat-icon-rtl-mirror">save
                </mat-icon>
            </button>

        </div>

    </nav>


</ng-template>










<c-container fluid>

    <app-tool-bar [ngTemplateOutlet]="MainToolBar">
    </app-tool-bar>

    <c-row>





        <div class="col-12" style="margin-top: 30px;">

            <form [formGroup]="Form">

                <c-row>

                    <div class="col-4">
                        <mat-form-field appearance="outline">
                            <mat-label #label_branch_fk>الفرع</mat-label>
                            <input matInput [formControl]="branch_fk" [matAutocomplete]="autobranch" id="branch_fk"
                                (keyup.enter)="focusNext('account_id')">
                            <mat-autocomplete #autobranch="matAutocomplete"
                                [displayWith]="displayBranchProperty.bind(this)">

                                <mat-option *ngFor="let option of filteredBranchOptions | async"
                                    [value]="option.branch_seq">
                                    {{option.branch_name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="fieldHasErrors(Form, 'branch_fk')">
                                {{
                                autoPrintFirstErrorMessage(
                                Form,
                                "branch_fk",
                                label_branch_fk.innerHTML
                                )
                                }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    
                   <div class="col-4">
                        <mat-form-field appearance="outline">
                            <mat-label #label_account_id>رقم حساب</mat-label>
                            <input matInput [formControl]="account_id" id="account_id"
                                (change)="account_id_change($event)" 
                                (keyup.enter)="focusNext('account_name')"
                                [OnlyNumber]="true">
                            <mat-error *ngIf="fieldHasErrors(Form, 'account_id')">
                                {{
                                autoPrintFirstErrorMessage(
                                Form,
                                "account_id",
                                label_account_id.innerHTML
                                )
                                }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                   <div class="col-4">
                        <mat-form-field appearance="outline">
                            <mat-label #label_account_name>اسم الحساب</mat-label>
                            <input matInput [formControl]="account_name" id="account_name"
                                (keyup.enter)="focusNext('finance_list_fk')">
                            <mat-error *ngIf="fieldHasErrors(Form, 'account_name')">
                                {{
                                autoPrintFirstErrorMessage(
                                Form,
                                "account_name",
                                label_account_name.innerHTML
                                )
                                }}
                            </mat-error>
                        </mat-form-field>
                    </div>


                   <div class="col-4">
                        <mat-form-field appearance="outline">
                            <mat-label #label_finance_list>القائمة المالية</mat-label>
                            <input matInput [formControl]="finance_list_fk" [matAutocomplete]="autofinanceList"
                                id="finance_list_fk" (keyup.enter)="focusNext('sub_financial_list_fk')">
                            <mat-autocomplete #autofinanceList="matAutocomplete"
                                [displayWith]="displayFinanceListProperty.bind(this)">
                                <mat-option >عدم تحديد</mat-option>
                                <mat-option *ngFor="let option of filteredfinanceListOptions | async"
                                    [value]="option.finance_list_seq">
                                    {{option.finance_list_name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="fieldHasErrors(Form, 'finance_list_fk')">
                                {{
                                autoPrintFirstErrorMessage(
                                Form,
                                "finance_list_fk",
                                label_finance_list.innerHTML
                                )
                                }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                   <div class="col-4">
                        <mat-form-field appearance="outline">
                            <mat-label #label_sub_financial_list_fk>القائمة المالية الفرعية</mat-label>
                            <input matInput [formControl]="sub_financial_list_fk"
                                [matAutocomplete]="auto_sub_financial_list_fk" id="sub_financial_list_fk"
                                (keyup.enter)="focusNext('account_type_fk')">
                            <mat-autocomplete #auto_sub_financial_list_fk="matAutocomplete"
                                [displayWith]="display_Sub_FinalList.bind(this)">

                                <mat-option >عدم تحديد</mat-option>

                                <mat-option *ngFor="let option of filtered_sub_financial_list_list | async"
                                    [value]="option.sub_financial_list_seq">
                                    {{option.sub_financial_list_name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="fieldHasErrors(Form, 'sub_financial_list_fk')">
                                {{
                                autoPrintFirstErrorMessage(
                                Form,
                                "sub_financial_list_fk",
                                label_finance_list.innerHTML
                                )
                                }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                   <div class="col-4">
                        <mat-form-field appearance="outline">
                            <mat-label #label_account_type_fk>طبيعة الحساب</mat-label>
                            <input matInput [formControl]="account_type_fk" [matAutocomplete]="auto_account_type_fk"
                                id="account_type_fk" (keyup.enter)="focusNext('account_final_fk')">
                            <mat-autocomplete #auto_account_type_fk="matAutocomplete"
                                [displayWith]="display_Account_TypeProperty.bind(this)">
                                <mat-option >عدم تحديد</mat-option>
                                <mat-option *ngFor="let option of filtered_account_type_list | async"
                                    [value]="option.account_type_seq">
                                    {{option.account_type_name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="fieldHasErrors(Form, 'account_type_fk')">
                                {{
                                autoPrintFirstErrorMessage(
                                Form,
                                "account_type_fk",
                                label_finance_list.innerHTML
                                )
                                }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                   <div class="col-4">
                        <mat-form-field appearance="outline">
                            <mat-label #label_account_final>الحساب الختامي</mat-label>
                            <input matInput [formControl]="account_final_fk" [matAutocomplete]="autoaccount_final"
                                id="account_final_fk" (keyup.enter)="focusNext('account_parent_seq')">
                            <mat-autocomplete #autoaccount_final="matAutocomplete"
                                [displayWith]="displayAccountFinalProperty.bind(this)">

                                <mat-option >عدم تحديد</mat-option>

                                <mat-option *ngFor="let option of filteredAccountFinalOptions | async"
                                    [value]="option.account_final_seq">
                                    {{option.account_final_name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="fieldHasErrors(Form, 'account_final')">
                                {{
                                autoPrintFirstErrorMessage(
                                Form,
                                "account_final",
                                label_account_final.innerHTML
                                )
                                }}
                            </mat-error>
                        </mat-form-field>
                    </div>


                    
                   <div class="col-4">

                        <mat-form-field appearance="outline">
                            <mat-label>اسم الحساب الأب</mat-label>
                            <input matInput [formControl]="account_parent_seq" [matAutocomplete]="autoparentaccountName"
                                id="account_parent_seq" (keyup.enter)="focusNext('account_level_fk')">
                            <mat-autocomplete #autoparentaccountName="matAutocomplete"
                                [displayWith]="displayParentAccountNameProperty.bind(this)">

                                <mat-option >الجذر أو المستوى الأول</mat-option>

                                <mat-option *ngFor="let option of filteredparentAccountNameOptions | async"
                                    [value]="option.seq">
                                    {{option.account_id + " - " + option.account_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                 

                   <div class="col-4">
                        <mat-form-field appearance="outline">
                            <mat-label #label_account_level>مستوى الحساب</mat-label>
                            <input matInput [formControl]="account_level_fk" [matAutocomplete]="autoaccountLevel"
                                id="account_level_fk" (keyup.enter)="focusNext('account_group_fk')">
                            <mat-autocomplete #autoaccountLevel="matAutocomplete"
                                [displayWith]="displayAccountLevelProperty.bind(this)">
                                <mat-option *ngFor="let option of filteredAccountLevelOptions | async"
                                    [value]="option.account_level_seq">
                                    {{option.account_level_name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="fieldHasErrors(Form, 'account_level_fk')">
                                {{
                                autoPrintFirstErrorMessage(
                                Form,
                                "account_level_fk",
                                label_account_level.innerHTML
                                )
                                }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                   <div class="col-4">
                        <mat-form-field appearance="outline">
                            <mat-label #label_account_group>مجموعة الحساب</mat-label>
                            <input matInput [formControl]="account_group_fk" [matAutocomplete]="autoaccountGroup"
                                id="account_group_fk" (keyup.enter)="focusNext('account_class_fk')">
                            <mat-autocomplete #autoaccountGroup="matAutocomplete"
                                [displayWith]="displayAccountGroupProperty.bind(this)">
                                <mat-option *ngFor="let option of filteredAccountGroupOptions | async"
                                    [value]="option.account_group_seq">
                                    {{option.account_group_name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="fieldHasErrors(Form, 'account_group_fk')">
                                {{
                                autoPrintFirstErrorMessage(
                                Form,
                                "account_group_fk",
                                label_account_group.innerHTML
                                )
                                }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                   <div class="col-4">
                        <mat-form-field appearance="outline">
                            <mat-label #label_account_class>تصنيف الحساب</mat-label>
                            <input matInput [formControl]="account_class_fk" [matAutocomplete]="autoaccountClass"
                                id="account_class_fk" (keyup.enter)="focusNext('phone')">
                            <mat-autocomplete #autoaccountClass="matAutocomplete"
                                [displayWith]="displayAccountClassProperty.bind(this)">
                                <mat-option *ngFor="let option of filteredAccountClassOptions | async"
                                    [value]="option.account_class_seq">
                                    {{option.account_class_name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="fieldHasErrors(Form, 'account_class_fk')">
                                {{
                                autoPrintFirstErrorMessage(
                                Form,
                                "account_class_fk",
                                label_account_class.innerHTML
                                )
                                }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!--
                   <div class="col-4">
                        <mat-form-field appearance="outline">
                            <mat-label>مركز الكلفة</mat-label>
                            <input matInput [formControl]="account_center_fk" [matAutocomplete]="autoaccount_center_fk"
                                id="account_center_fk" (keyup.enter)="focusNext('branch_fk')">
                            <mat-autocomplete #autoaccount_center_fk="matAutocomplete"
                                [displayWith]="display_Account_Center_Property.bind(this)">
                                <mat-option *ngFor="let option of account_center_filter | async"
                                    [value]="option.account_center_seq">
                                    {{option.account_center_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    -->

                  
            

                   <div class="col-4">


                        <mat-form-field appearance="outline">
                            <mat-label>الهاتف</mat-label>
                            <input matInput [formControl]="phone" id="phone" (keyup.enter)="focusNext('mobil')">
                        </mat-form-field>
                    </div>

                   <div class="col-4">
                        <mat-form-field appearance="outline">
                            <mat-label>الموبايل</mat-label>
                            <input matInput [formControl]="mobil" id="mobil" (keyup.enter)="focusNext('fax')">
                        </mat-form-field>
                    </div>

                   <div class="col-4">
                        <mat-form-field appearance="outline">
                            <mat-label>الفاكس</mat-label>
                            <input matInput [formControl]="fax" id="fax" (keyup.enter)="focusNext('address')">
                        </mat-form-field>
                    </div>

                   <div class="col-4">
                        <mat-form-field appearance="outline">
                            <mat-label>العنوان</mat-label>
                            <input matInput [formControl]="address" id="address" (keyup.enter)="focusNext('notice')">
                        </mat-form-field>
                    </div>

                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>الملاحظات</mat-label>
                            <input matInput [formControl]="notice" id="notice"
                                (keyup.enter)="focusNext('parentAccountName')">
                        </mat-form-field>
                    </div>

                </c-row>

            </form>

        </div>


    </c-row>
</c-container>