:host
{
    font-size: small;
}


mat-form-field
{
    width: 100% !important;
    font-size: small;
}


.mat-icon
{
    font-size: small;
    font-weight: bold;
    vertical-align: middle;
}

button{
    display: flex;
    margin-left: 10px;
  }
  
  mat-icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }