@import '../../../../../theme.scss';

.add, .edit{
    color: white !important;
    background-color: $lightPrimary !important;
  }

  #excel{
    background-color: #1F6E43;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
  
  }