@import '../../../../../theme.scss';


form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    mat-form-field{
        margin-left: 20px;
    }
}

table{
    width: 100%;
}

td, th{
    padding: 5px !important;
    text-align: right !important;
}

.view{
    margin-bottom: 10px;
}



  .table-wrap{
    overflow-x: scroll;
  }

  button{
      margin-left: 10px;
  }

  mat-form-field, ::ng-deep .mat-mdc-form-field-label{
    color: black !important;
}

.save{
    color: white !important;
    background-color: $lightPrimary !important;
}

::ng-deep .mat-mdc-form-field-underline::before{
    background-color: black !important;
}

mat-form-field ::ng-deep .mat-mdc-form-field-flex, mat-form-field ::ng-deep .mat-mdc-text-field-wrapper{
    background-color: white !important;
}

form{
    width: fit-content;
    display: flex;
    align-items: flex-start;
}


.add, .edit{
    color: white !important;
    background-color: $lightPrimary !important;
    margin-block: 10px;
  }

  th, td{
    padding: 4px !important;
    text-align: center !important;
  }

  th,
   mat-paginator,
   ::ng-deep .mat-paginator-navigation-first,
   ::ng-deep .mat-paginator-navigation-previous,
   ::ng-deep .mat-paginator-navigation-next,
   ::ng-deep .mat-paginator-navigation-last,
   ::ng-deep .mat-select-arrow,
   ::ng-deep .mat-select-value,
   mat-paginator ::ng-deep .mat-mdc-form-field-underline,
   mat-paginator ::ng-deep .mat-mdc-form-field-flex{
    background-color: $lightBackground !important;
    color: black !important;
  }

  .add, .edit{
    color: white !important;
    background-color: $lightPrimary !important;
  }

  .delete{
    background-color: $lightPrimary;
    margin-left: 5px;
  }

  .demo-row-is-clicked {
    background-color: orange !important;
  }

.mat-mdc-row:nth-child(even){
    background-color: $LightTableEven;
}
.mat-mdc-row:nth-child(odd){
    background-color: white;
}

.add:disabled, .edit:disabled{
    background-color: rgba(0,0,0,.12) !important;
    color: rgba(0,0,0,.26);
}


.mat-mdc-form-field-disabled, ::ng-deep .mat-mdc-form-field-disabled .mat-mdc-form-field-label{
    color: rgba(0,0,0,.26) !important;
  }
  
  mat-form-field.mat-mdc-form-field-disabled ::ng-deep  .mat-mdc-form-field-flex{
    background-color: rgba(0,0,0,.12) !important;
  }

  #excel{
    background-color: #1F6E43;
    color: white;
  }

  #print{
    background-color: #451BAB;
    color: white;
  }

  output{
    width: 80px;
    height: 20px;
    background-color: $LightTableEven;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.outputCon{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}


.con{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 1200px;
}

::ng-deep .mat-menu-panel{
  overflow: hidden !important;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}

mat-tree{
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;

}

mat-tree-node{
  padding: 10px;
}

.small-width{
    width: 90px;
    margin-left: 0px !important;
  }

  .date{
    width: fit-content;
    margin-left: 10px;
  }

  form{
    background-color: $lightBackground;
  }

  mat-accordion{
    margin-block: 20px;
  }
  
  
  mat-expansion-panel{
    background-color: $lightBackground;
    margin-block: 20px;
  }
  
  ::ng-deep .mat-expansion-panel-content{
    background-color: $LightTableEven;
  
  }

  ::ng-deep .mat-expansion-indicator{
    left: 1041px;
    position: relative;
  }

  button, span, mat-form-field,:ng-deep .mat-mdc-form-field , ::ng-deep mat-label, th, td, label, output{
    font-family: 'Noto Sans Arabic', sans-serif !important;
}

::ng-deep mat-expansion-panel-header{
  padding: 0px 40px !important;
}

.smallCard{
  width: 155px;
  height: 110px;
}

::ng-deep c-card-header{
  text-align: center;
}

c-card{
  background-color: $lightBackground;
  padding: 20px;
}

.inputGroup1, .inputGroup2, .inputGroup3, .inputGroup4, .inputGroup5, .inputGroup7{
  border-left: 1px solid #bbbbbb;
  margin-left: 20px;
} 

.small-width{
  width: 90px !important;
  margin-left: 0px !important;
}

mat-form-field{
  width: 170px;
  height: 70px;
  font-size: 14px;
}

::ng-deep .mat-mdc-floating-label, ::ng-deep .mat-mdc-input-element, ::ng-deep .mat-mdc-select-min-line{
  font-size: 14px;
}

table, c-card{
  zoom: 90%;
}