:host
{
    font-size: small;
}


mat-form-field
{
    width: 100% !important;
    font-size: small;
}

table{
    width: 100%;
    margin-top: 50px;
  }


  
.isVisible{
    visibility: collapse;
    }

    button{
        display: flex;
        margin-right: 10px;
      }
      
      mat-icon{
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      .mat-mdc-row:nth-child(even){
        background-color: grey;
      }
      .mat-mdc-row:nth-child(odd){
        background-color: white;
      }

      app-payment-order-print, app-payment-order-print-rows{
        display: none;
      }