:host
{
    font-size: small;
}


mat-form-field
{
    width: 100% !important;
    font-size: small;
}


.mat-icon
{
    font-size: small;
    font-weight: bold;
    vertical-align: middle;
}



.isVisible{
    visibility: collapse;
    }