<c-container>
    <form [formGroup]="Form" #form="ngForm">
        <c-row>
            <c-col [cCol]="1">
                <button mat-raised-button (click)="delete()" color="warn"><mat-icon class="mat-icon-rtl-mirror">delete
                </mat-icon> حذف</button>
            </c-col>

            <c-col >
                <mat-form-field class="fitContent" appearance="fill">
                    <mat-label>مبلغ مدين</mat-label>
                    <input matInput [OnlyNumber]="true" id="{{'debtor_'+_index}}"
                     [formControl]="debtor"(input)="onDebtorFilling()"    
                        (keyup.enter)="focusNext('creditor_'+ _index )" [OnlyNumber]="true"
                        >
                </mat-form-field>
            </c-col>

            <c-col>
                <mat-form-field class="fitContent" appearance="fill">
                    <mat-label>مبلغ دائن</mat-label>
                    <input matInput [OnlyNumber]="true"  [formControl]="creditor"
                    (input)="onCreditorFilling()" id="{{'creditor_'+_index}}"
                        (keyup.enter)="focusNext( 'accounts_tree_fk_'+_index )" [OnlyNumber]="true">
                </mat-form-field>
            </c-col>



            <c-col>
                <mat-form-field class="fitContent" appearance="fill">
                    <mat-label #label_accounts_tree_fk>رقم الحساب</mat-label>
                    <input matInput [formControl]="accounts_tree_fk" [matAutocomplete]="autoaccounts_tree_fk"
                    id="{{'accounts_tree_fk_'+_index}}"  
                        (keyup.enter)="focusNext('account_center_fk_'+this._index)" [OnlyNumber]="true">
                    <mat-autocomplete #autoaccounts_tree_fk="matAutocomplete"
                        (optionSelected)="Select_Accounts_Tree_Option($event)"
                        [displayWith]="display_Account_Tree_Property.bind(this)">
                        <mat-option *ngFor="let option of accounts_tree_filter | async" [value]="option.seq">
                            {{option.account_id + " - " + option.account_name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="fieldHasErrors(Form, 'accounts_tree_fk')">
                        {{
                        autoPrintFirstErrorMessage(
                        Form,
                        "accounts_tree_fk",
                        label_accounts_tree_fk.innerHTML
                        )
                        }}
                    </mat-error>
                </mat-form-field>
            </c-col>

            <c-col>
                <mat-form-field class="fitContent" appearance="fill">
                    <mat-label>مركز الكلفة</mat-label>
                    <input matInput [formControl]="account_center_fk" [matAutocomplete]="autoaccount_center_fk"
                    id="{{'account_center_fk_'+_index}}"    
                     (keyup.enter)="focusNext('account_notice_'+this._index)">
                    <mat-autocomplete #autoaccount_center_fk="matAutocomplete"
                        (optionSelected)="Select_Account_Center_Option($event)"
                        [displayWith]="display_Account_Center_Property.bind(this)">
                        <mat-option *ngFor="let option of account_center_filter | async"
                            [value]="option.account_center_seq">
                            {{option.account_center_name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </c-col>


        </c-row>

        <c-row>
            <c-col [cCol]="10">
                <mat-form-field class="fitContent" appearance="fill" style="width: 1095px;">
                    <mat-label>بيان الحساب</mat-label>
                    <input matInput id="{{'account_notice_'+_index}}"
                        [formControl]="account_notice">
                </mat-form-field>

            </c-col>

            
        </c-row>
    </form>

</c-container>