<table class="table table-edit table-bordered table-middel bg-gray-50" [formGroup]="formGroup">
    <thead>
        <tr>
            <th class="min-width-110"> مدين</th>
            <th class="min-width-110"> دائن</th>
            <th class="min-width-250"> اسم الحساب</th>
            <th class="min-width-250"> مركز الكلفة</th>
            <th class="min-width-300"> بيان</th>
            <th class="min-width-70"> عمليات</th>
        </tr>
    </thead>
    <tbody [formArrayName]="name">
        <tr *ngFor="let detail of FormArray; let _index = index;"
            [formGroupName]="_index">

            <td>
                <input class="form-control" 
                [OnlyNumber]="true" id="{{'debtor_'+_index}}" 
                formControlName="debtor"
                (keypress)="onKeypressEvent($event,true,detail)" 
                (focusout)="onFocusOutEvent(true,detail)"
                    (keyup.enter)="focusNext('creditor_'+ _index )" placeholder="مدين">
            </td>
            <td>

                <input class="form-control" 
                [OnlyNumber]="true" 
                (keypress)="onKeypressEvent($event,false ,detail)" 
                formControlName="creditor" 
                id="{{'creditor_'+_index}}"
                (focusout)="onFocusOutEvent(false ,detail)"
                    (keyup.enter)="focusNext( 'accounts_tree_fk_'+_index )" placeholder="دائن" />
            </td>

            <td>
                <ng-select 
                formControlName="accounts_tree_fk" 
                id="{{'accounts_tree_fk_'+_index}}"
                (change)="account_tree_select($event)"
                [closeOnSelect]="true" [searchable]="true" [openOnEnter]="false"
                    (keyup.enter)="focusNext('account_center_fk_'+this._index)">
                    <ng-option *ngFor="let option of accounts_tree_list " [value]="option.seq">
                        {{option.account_id + " - " + option.account_name}}
                    </ng-option>
                </ng-select>
                <div *ngIf="getControls('accounts_tree_fk',detail) != null &&
                getControls('accounts_tree_fk',detail) .invalid " class="invalid-feedback">
                <div *ngIf="getControls('accounts_tree_fk',detail) .hasError('required')">Supplier is required</div>
                <div *ngIf="getControls('accounts_tree_fk',detail) .hasError('accountTreeExists')">accountTreeExists</div>

                </div>
                <!--
                <span *ngIf="!detail['accounts_tree_fk'].invalid &&
                detail['accounts_tree_fk'].touched">
                    <span *ngIf = "detail['accounts_tree_fk'].errors['required']">is required</span>
                    <span *ngIf = "detail['accounts_tree_fk'].errors['accountTreeExists']">رقم حساب مكرر</span>
                  </span>
                  -->
            </td>
            <td>
                <ng-select [closeOnSelect]="true" [searchable]="true" [openOnEnter]="false"
                class="custom"
                  formControlName="account_center_fk"
                  id="{{'account_center_fk_'+_index}}"
                  (keyup.enter)="focusNext('account_notice_'+this._index)"
                  (change)="account_center_select($event)"
                    
                    >
                    <ng-option *ngFor="let option of account_center_list " [value]="option.account_center_seq">
                        {{option.account_center_id + " - " + option.account_center_name}}
                    </ng-option>
                </ng-select>
            </td>

            <td>
                <input class="form-control"
                
                (keyup.enter)="key_enter_event(_index)"
                (keyup.enter)="focusNext('debtor_'+(this._index+1))"
                 id="{{'account_notice_'+_index}}" 
                 formControlName="account_notice" />
            </td>

            <td class="p-0">
                <button class="btn btn-danger square px-3" (click)="OnDelete.emit(_index)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>