<c-container>

    <mat-card>

        <mat-card-header>
            <mat-card-title>الصناديق الخزينة في المؤسسة </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <form [formGroup]="Form">

                <c-container>
                    <c-row>


                        <div class="col-12">
                            <label class="form-label">اسم الصندوق في الفرع</label>
                            <input  class="form-control" [formControl]="payment_safe_name" id="payment_safe_name"
                                (keyup.enter)="focusNext('accounts_tree_fk')">
                        </div>




                        <div class="col-12">
                            <label for="accounts_tree_fk">حساب الصندوق</label>
                            <ng-select id="accounts_tree_fk" 
                            formControlName="accounts_tree_fk"
                                (keyup.enter)="focusNext('payment_safe_order')"                               
                               >
                               <ng-option *ngFor="let option of list_account_tree " [value]="option.seq">
                                {{option.account_id + " - " + option.account_name}}
                            </ng-option>
                            </ng-select>
                        </div>



                        <div class="col-12">
                            <label class="form-label">ترتيب الصندوق</label>
                            <input class="form-control" id="payment_safe_order" [formControl]="payment_safe_order" id="payment_safe_order"
                                [OnlyNumber]="true">
                        </div>





                    </c-row>

                </c-container>
            </form>


        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="add" (click)="save()" [disabled]="!Form.valid">F9 حفظ </button>
            <button mat-raised-button (click)="closeDialog()" color="warn">إلغاء</button>
        </mat-card-actions>
    </mat-card>
</c-container>



<!--
                            <mat-form-field>
                                <mat-label #label_payment_safe_name></mat-label>
                                <input matInput [formControl]="payment_safe_name" id="payment_safe_name"
                                    (keyup.enter)="focusNext('accounts_tree_fk')">
                                <mat-error *ngIf="fieldHasErrors(Form, 'payment_safe_name')">
                                    {{
                                    autoPrintFirstErrorMessage(
                                    Form,
                                    "payment_safe_name",
                                    label_payment_safe_name.innerHTML
                                    )
                                    }}
                                </mat-error>
                            </mat-form-field>
                            -->