
@use '@angular/material' as mat;

@import '~material-design-icons/iconfont/material-icons.css';

/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.my-special-section {
    $special-primary: mat.define-palette(mat.$orange-palette);
    $special-accent: mat.define-palette(mat.$brown-palette);
    $special-theme: mat.define-dark-theme((
      color: (primary: $special-primary, accent: $special-accent),
    ));
   
    @include mat.button-color($special-theme);
   }

   button, span, mat-form-field,::ng-deep .mat-mdc-form-field , ::ng-deep mat-label, th, td, label, output, li, body{
    font-family: 'Noto Sans Arabic', sans-serif !important;
}

.green-snackbar .mdc-snackbar__surface{
  background-color: green !important;
}

.red-snackbar .mdc-snackbar__surface{
  background-color: red !important;
}