$darkPrimary: #013247 !global ;
$darkSecondary: #04113B !global ;
$darkBackground: #01081E !global ;
$darkTableEven: #0c1c50 !global ;

$lightPrimary: #6C5ED3 !global ;
// $lightSecondary:  !global ;
$lightBackground: #EAF7F0 !global ;
$LightTableEven: #f1f5f2 !global ;