

<c-container>

    <mat-card>

        <mat-card-header>
            <mat-card-title>مراحل أمر الدفع</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <form [formGroup]="Form">

                <c-container>
                    <c-row>
                        <c-col>
                            <mat-form-field >
                                <mat-label #label_pay_ord_stg_name>اسم مرحلة أمر الدفع</mat-label>
                                <input matInput [formControl]="pay_ord_stg_name" id="pay_ord_stg_name" (keyup.enter)="focusNext('pay_ord_stg_order')">
                                <mat-error *ngIf="fieldHasErrors(Form, 'pay_ord_stg_name')">
                                    {{
                                    autoPrintFirstErrorMessage(
                                        Form,
                                    "pay_ord_stg_name",
                                    label_pay_ord_stg_name.innerHTML
                                    )
                                    }}
                                  </mat-error>
                            </mat-form-field>

                        </c-col>
                    </c-row>

                    <c-row>
                        <c-col>
                            <mat-form-field>
                                <mat-label>ترتيب مرحلة أمر الدفع</mat-label>
                                <input matInput [formControl]="pay_ord_stg_order" id="pay_ord_stg_order"
                                     [OnlyNumber]="true">
                            </mat-form-field>
                        </c-col>
                    </c-row>

                    <c-row>
                        <c-col>
                            <span>المستخدمون:</span>
                            <div formArrayName="users">
                                <div    
                                *ngFor="let payment_order_stage_user of users.controls; let i=index" 
                                [formGroupName]="i">
                                    <mat-checkbox color="primary" 
                                                  formControlName="is_selected">
                                                  {{getUser(i)!.user_first_name}} {{getUser(i)!.user_last_name}} ({{getUser(i)!.user_name}})
                                                </mat-checkbox>
                                </div>
                            </div>
                        </c-col>
                    </c-row>
                    
                </c-container>

             
            </form>


        </mat-card-content>
        <mat-card-actions style="margin-top: 40px;">
            <button mat-raised-button class="add" (click)="save()" [disabled]="!Form.valid">F9 حفظ </button>
            <button mat-raised-button (click)="closeDialog()" mat-flat-button color="warn">إلغاء</button>
        </mat-card-actions>
    </mat-card>
</c-container>
